button {
    cursor: pointer;
    width: 11%;
    height: 36px;
    font-weight: bold;
    background: #D1D1D1;
	-webkit-transition: color .5s .5s ease-out;
}

button:hover {
    box-shadow: 2px 2px 6px #369;
	color: green;
}
input {
    width: 80%;
    height: 12%;
    background: #FFFFFF;
    border: 2px solid #498DFF;
}

p {
    margin: 3px 3px 3px 0;
}

.white_buttons {
    background: white;
}

button:active {
    background: #BDBDBD;
}

