html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;


}
.main {
    display: table;
    width: 52%;
    height: 75%;
    margin: 30px auto;
    vertical-align: middle;
    background: #EFEFEF;
    outline: 2px solid black;
    position: relative;

}

.main #top {
    position: absolute;
    background: #FFF2CC;
    width: 100%;
    height: 80px;
    outline: 2px solid black;
}

.main #left {
    position: absolute;
    top: 80px;
    bottom: 100px;
    background: #EAD1DC;
    width: 300px;
    border-right: 2px solid black;
}

.main #right {
    background: #EFEFEF;
    position: absolute;
	right: 0;
    top: 80px;
    left: 300px;
    bottom: 100px;
}

.main #bottom {
    position: absolute;
    bottom: 0;
    background: #C9DAF8;
    width: 100%;
    height: 100px;
    outline: 2px solid black;
}