/*
  Основные стили для 4-х блоков
*/

html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
#leftRight {
    overflow-y: auto;
}

#something-semantic {
    position:relative;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
}
#something-semantic.closeSideMenu #left {
    width: 50px;
}
#something-semantic.closeSideMenu #right {
    left: 50px;
}
#something-semantic.closeSideMenu .textMenu {
    display: none;
}
#something-semantic.closeSideMenu #gorizLines {
    left: 10px;
}
#something-semantic.closeSideMenu #menu1, #something-semantic.closeSideMenu #sort {
    display: none !important;
}

#something-semantic #right {
    position: absolute;
    top: 100px;
    left: 300px;
    bottom: 150px;
    right: 0;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;

}

#something-semantic #left {
    position: absolute;
    top: 100px;
    bottom: 150px;
    background: #EAD1DC;
    width: 300px;
    word-wrap: break-word;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;

}
#something-semantic #top {
    position: absolute;
    background: #FFF2CC;
    width: 100%;
    height: 100px;
}


#something-semantic #bottom {
    position: absolute;
    bottom: 0;
    background: #C9DAF8;
    width: 100%;
    height: 150px;

}


/*
  Стили для меню
*/
span:hover  {
    cursor: pointer;
}

#left .iconBootstrap {
    display: block;
    float: left;
    background: url(img/bootstrap.jpg)  no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#left .iconjQuery {
    display: block;
    float: left;
    background: url(img/blackSquare.png)  no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#gorizLines {
    position: absolute;
    top: 100px;
    left: 260px;
    background: url(img/gorizLines.png) no-repeat;
    width: 32px;
    height: 30px;
    margin: 10px 10px 0 0;
    z-index: 1;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}


#left ul.dropdown-main {
    margin: 50px 0 0 10px;
    padding: 10px 10px 10px 10px;
}
#left a {
    text-decoration: none;
}
#left li, ul {
    list-style-type: none;
    line-height: 80%;
}

#left li {
    padding-top: 5px;
}

#menu1, #menu2  {
    margin-left: -10px;
    display:none;
}

/*
    Стили для кнопки вызова модального окна
*/

button#enter, button#exit {
    position:absolute;
    top: 70px;
    right: 20px;
    background: #CFDCEC;
    width: 80px;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid black;
}

button#PUD {
    position:absolute;
    top: 20px;
    right: 20px;
    background: #CFDCEC;
    width: 150px;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid black;
}

.alert {
    background: red;
}

.modal-content {
    margin: auto;
}

/*Стили для иконки Bootstrap*/

.bs-docs-booticon-outline {
    background-color: transparent;
    border: 1px solid #cdbfe3;
}
.bs-docs-booticon-lg {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
}
.bs-docs-booticon {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: #563d7c;
    border-radius: 15%;
}

/* Стили для иконки jQuery*/

.js-docs-booticon-outline {
    background-color: transparent;
    border: 1px solid #cdbfe3;
}
.js-docs-booticon-lg {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
}
.js-docs-booticon {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: #0A1017;
    border-radius: 15%;
}

/*
    Стили для  Bootstrap->Modals
*/

.modalWindows {
    margin: 2px;
}

.Tooltip {
    padding: 100px;
}

.toolTip {
    width: 100px;
    height: 60px;
    border: 1px solid black;
    float: left;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center
}

.toolTip.RIGHT {
    background: red;
}
.toolTip.LEFT {
    background: green;
}
.toolTip.TOP {
    background: yellow;
}
.toolTip.BOTTOM {
    background: purple;
}

div.item, div.item img {
    text-align: center;
    margin: auto;
}

.affix {
    width: 50px;
    height: 100%;
    background: red;
}

.gray tr th:nth-child(2n+1),.gray tr td:nth-child(2n+1) {
    background: gray;
}

.firstDiv {
    background: red;
}
.secondDiv {
    background: yellow;
}
.thirdDiv {
    background: purple;
}
.fourthDiv {
    background: green;
}
.fifthDiv {
    background: pink;
}

.CONTAINER {
    height: 200px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid red;
}