div {
    width: 50px;
    height: 50px;
    background: red;
    position: relative;
    top: 40px;
    left: 400px;
    animation: myfirst 5s infinite linear;
    -webkit-animation: myfirst 5s infinite linear;
    -moz-animation: myfirst 5s infinite linear;
    -o-animation: myfirst 5s infinite linear;
    -ms- animation: myfirst 5s infinite linear;

}
@keyframes myfirst {
    0%   {background: red; transform: translate(0,0) rotate(0deg);}
    20%  {background: yellow; transform: translate(-122px,573px) rotate(90deg);}
    40%  {background: blue; transform: translate(300px,220px) rotate(180deg);}
    60% {background: green; transform: translate(-325px,220px)rotate(270deg);}
    80% {background: purple; transform: translate(165px,573px) rotate(360deg);}
}

@-webkit-keyframes myfirst {
    0%   {background: red; -webkit-transform: translate(0,0) rotate(0deg); }
    20%  {background: yellow; -webkit-transform: translate(-122px,573px) rotate(90deg);}
    40%  {background: blue; -webkit-transform: translate(300px,220px) rotate(180deg);}
    60% {background: green; -webkit-transform: translate(-325px,220px) rotate(270deg);}
    80% {background: purple; -webkit-transform: translate(165px,573px) rotate(360deg);}
}

@-moz-keyframes myfirst {
    0%   {background: red; -moz-transform: translate(0,0) rotate(0deg); }
    20%  {background: yellow; -moz-transform: translate(-122px,573px) rotate(90deg);}
    40%  {background: blue; -moz-transform: translate(300px,220px) rotate(180deg);}
    60% {background: green; -moz-transform: translate(-325px,220px) rotate(270deg);}
    80% {background: purple; -moz-transform: translate(165px,573px) rotate(360deg);}
}

@-o-keyframes myfirst {
    0%   {background: red; -o-transform: translate(0,0) rotate(0deg); }
    20%  {background: yellow; -o-transform: translate(-122px,573px) rotate(90deg);}
    40%  {background: blue; -o-transform: translate(300px,220px) rotate(180deg);}
    60% {background: green; -o-transform: translate(-325px,220px) rotate(270deg);}
    80% {background: purple; -o-transform: translate(165px,573px) rotate(360deg);}
}

@-ms-keyframes myfirst {
    0%   {background: red; -ms-transform: translate(0,0) rotate(0deg); }
    20%  {background: yellow; -ms-transform: translate(-122px,573px) rotate(90deg);}
    40%  {background: blue; -ms-transform: translate(300px,220px) rotate(180deg);}
    60% {background: green; -ms-transform: translate(-325px,220px) rotate(270deg);}
    80% {background: purple; -ms-transform: translate(165px,573px) rotate(360deg);}
}









