html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
.something-semantic {
    display: table;
    width: 52%;
    height: 80%;
    margin: 5% auto;
    vertical-align: middle;
    background: #EFEFEF;
    outline: 2px solid black;

}

.something-semantic #top {
    background: #FFF2CC;
    width: 100%;
    height: 17%;
    outline: 2px solid black;
}

.something-semantic #left {
    background: #EAD1DC;
    width: 17%;
    height: 78%;
    border-right: 2px solid black;
}

.something-semantic #bottom {
    background: #C9DAF8;
    width: 100%;
    height: 5%;
    outline: 2px solid black;
}