/*
  Основные стили для 4-х блоков
*/

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

#something-semantic {
    position:relative;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
}
#something-semantic.closeSideMenu #left {
    width: 50px;
}
#something-semantic.closeSideMenu #right {
    left: 50px;
}
#something-semantic.closeSideMenu .textMenu {
    display: none;
}
#something-semantic.closeSideMenu #gorizLines {
    left: 10px;
}
#something-semantic.closeSideMenu #menu1, #something-semantic.closeSideMenu #sort {
    display: none !important;
}

input {
    font: bold 18px serif;
}
#wrapArray {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 600px;
    display: none;
    overflow-y: auto;

}
#wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 300px;
    width: 500px;
    display: none;
}
#something-semantic #right {
    position: absolute;
    top: 100px;
    left: 300px;
    bottom: 100px;
    right: 0;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}
#something-semantic #top {
    position: absolute;
    background: #FFF2CC;
    width: 100%;
    height: 100px;
}

#something-semantic #left {
    position: absolute;
    top: 100px;
    bottom: 150px;
    background: #EAD1DC;
    width: 300px;
    word-wrap: break-word;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

#something-semantic #bottom {
    position: absolute;
    bottom: 0;
    background: #C9DAF8;
    width: 100%;
    height: 150px;
}


/*
  Стили для меню
*/
span:hover  {
    cursor: pointer;
}

#left .icon {
    display: block;
    float: left;
    background: url(img/blackSquare.png)  no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#gorizLines {
    position: absolute;
    top: 100px;
    left: 260px;
    background: url(img/gorizLines.png) no-repeat;
    width: 32px;
    height: 30px;
    margin: 10px 10px 0 0;
    z-index: 1;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}


#left ul.dropdown {
    margin: 50px 0 0 10px;
    padding: 10px 10px 10px 10px;
}
#left a {
    text-decoration: none;
}
#left li, ul {
    list-style-type: none;
    line-height: 80%;

}

#left li {
    padding-top: 10px;
}


#menu1, #sort  {
    margin-left: -10px;
    display:none;
}
