<!DOCTYPE html>
<html ng-app='app'>
<head lang="en">
    <meta charset="UTF-8">
    <title>Layout+calc+sort</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="mainAng.js"></script>
</head>
<body>
        <div id="wrapper" ng-controller="CalcCtrl">
<!--            <input type="text" class="calc_display" value="0"  name="calc_display" disabled>-->
            
            <div id='result'>{{ result | $floorFilter }}</div>
            <p>
                <button>Rad</button>
                <button>Deg</button>
                <calcalute-btn info='factorial' click='btnClick'></calcalute-btn>
                <calcalute-btn info='bktLeft' click='btnClick'></calcalute-btn>
                <calcalute-btn info='bktRight' click='btnClick'></calcalute-btn>
                <calcalute-btn info='percent' click='btnClick'></calcalute-btn>
                <calcalute-btn info='cE' click='btnClick'></calcalute-btn>
            </p>
            <p>
                <calcalute-btn info='inv' click='btnClick'></calcalute-btn>
                <calcalute-btn info='sin' click='btnClick'></calcalute-btn>
                <calcalute-btn info='in' click='btnClick'></calcalute-btn>
                <calcalute-btn info='seven' click='btnClick'></calcalute-btn>
                <calcalute-btn info='eight' click='btnClick'></calcalute-btn>
                <calcalute-btn info='nine' click='btnClick'></calcalute-btn>
                <calcalute-btn info='divide' click='btnClick'></calcalute-btn>
            </p>
            <p>
                <calcalute-btn info='pi' click='btnClick'></calcalute-btn>
                <calcalute-btn info='cos' click='btnClick'></calcalute-btn>
                <calcalute-btn info='log' click='btnClick'></calcalute-btn>
                <calcalute-btn info='four' click='btnClick'></calcalute-btn>
                <calcalute-btn info='five' click='btnClick'></calcalute-btn>
                <calcalute-btn info='six' click='btnClick'></calcalute-btn>
                <calcalute-btn info='times' click='btnClick'></calcalute-btn>
            </p>
            <p>
                <calcalute-btn info='e' click='btnClick'></calcalute-btn>
                <calcalute-btn info='tan' click='btnClick'></calcalute-btn>
                <calcalute-btn info='radic' click='btnClick'></calcalute-btn>
                <calcalute-btn info='one' click='btnClick'></calcalute-btn>
                <calcalute-btn info='two' click='btnClick'></calcalute-btn>
                <calcalute-btn info='three' click='btnClick'></calcalute-btn>
                <calcalute-btn info='minus' click='btnClick'></calcalute-btn>
            </p>
            <p>
                <calcalute-btn info='ans' click='btnClick'></calcalute-btn>
                <calcalute-btn info='exp' click='btnClick'></calcalute-btn>
                <calcalute-btn info='xy' click='btnClick'></calcalute-btn>
                <calcalute-btn info='zero' click='btnClick'></calcalute-btn>
                <calcalute-btn info='point' click='btnClick'></calcalute-btn>
                <calcalute-btn info='equally' click='btnClick'></calcalute-btn>
                <calcalute-btn info='plus' click='btnClick'></calcalute-btn>
            </p>
<!--
            <p>
                <button class="operation_buttons" data-value="Inv" data-type="operation">Inv</button>
                <button class="operation_buttons" data-value="sin" data-type="operation">sin</button>
                <button class="operation_buttons" data-value="In" data-type="operation">In</button>
                <button class="white_buttons cifral_buttons" data-value="7" data-type="number">7</button>
                <button class="white_buttons cifral_buttons" data-value="8" data-type="number">8</button>
                <button class="white_buttons cifral_buttons" data-value="9" data-type="number">9</button>
                <button class="operation_buttons" data-value="/" data-type="operation">&divide;</button>
            </p>
            <p>
                <button class="operation_buttons" data-value="pi" data-type="operation">&pi;</button>
                <button class="operation_buttons" data-value="cos" data-type="operation">cos</button>
                <button class="operation_buttons" data-value="log" data-type="operation">log</button>
                <button class="white_buttons cifral_buttons" data-value="4" data-type="number" >4</button>
                <button class="white_buttons cifral_buttons" data-value="5" data-type="number">5</button>
                <button class="white_buttons cifral_buttons" data-value="6" data-type="number">6</button>
                <button class="operation_buttons" data-value="*" data-type="operation">&times;</button>
            </p>
            <p>
                <button class="operation_buttons" data-value="e" data-type="operation">e</button>
                <button class="operation_buttons" data-value="tan" data-type="operation">tan</button>
                <button class="operation_buttons" data-value="&radic" data-type="operation">&radic;</button>
                <button class="white_buttons cifral_buttons" data-value="1" data-type="number">1</button>
                <button class="white_buttons cifral_buttons" data-value="2" data-type="number">2</button>
                <button class="white_buttons cifral_buttons" data-value="3" data-type="number">3</button>
                <button class="operation_buttons" data-value="-" data-type="operation">-</button>
            </p>
            <p>
                <button class="operation_buttons" data-value="Ans" data-type="operation">Ans</button>
                <button class="operation_buttons" data-value="EXP" data-type="operation">EXP</button>
                <button class="operation_buttons" data-value="xY" data-type="operation">x<sup>y</sup></button>
                <button class="white_buttons cifral_buttons" data-value="0" data-type="number">0</button>
                <button class="white_buttons operation_buttons" data-value="." data-type="operation">.</button>
                <button class="white_buttons operation_buttons" data-value="=" data-type="operation">=</button>
                <button class="operation_buttons" data-value="+" data-type="operation">+</button>
            </p>
-->
        </div>
</body>
</html>