
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
#wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 300px;
    width: 500px;
}
#result {
    border: 1px solid purple;
    height: 45px;
    width: 100%;
    background: purple;
}
button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 11%;
    height: 36px;
    font-weight: bold;
    background: #D1D1D1;
	-webkit-transition: color .5s .5s ease-out;
}

button:hover {
    box-shadow: 2px 2px 6px #369;
	color: green;
}
input {
    font: bold 18px Arial;
    width: 80%;
    height: 12%;
    background: #FFFFFF;
    border: 2px solid #498DFF;
}


.white_buttons {
    background: white;
}

button:active {
    background: #BDBDBD;
}

