body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(images/background.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    position: relative;
    font-family: "Lucida Sans Unicode";
}
#wrapper {
    width: 580px;
    height: 658px;
    margin: 0 auto;
}
#left {
    position: relative;
    width: 140px;
    font-family: Arial, Times;
    float: left;
}
#left ul li {
    list-style-type: none;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
}
#left li a {
    text-decoration: none;
    display: block;
}
#left li>a>span.icon {
    display: block;
    float: right;
    margin-right: 5px;
    width: 32px;
    height: 38px;
    background: url(images/Tab1.png) 0 5px no-repeat;
}
#left li>a>span.icon2 {
    display: block;
    float: right;
    margin-right: 7px;
    width: 32px;
    height: 38px;
    background: url(images/Tab2.png) no-repeat;
}
#left li>a>span.icon3 {
    display: block;
    float: right;
    margin-right: 7px;
    width: 32px;
    height: 38px;
    background: url(images/Tab3.jpg) no-repeat;
}
#left li>a>span.icon4 {
    display: block;
    float: right;
    margin-right: 7px;
    width: 32px;
    height: 38px;
    background: url(images/Tab4.jpg) no-repeat;
}
#left li>a>span.icon5 {
    display: block;
    float: right;
    margin-right: 7px;
    width: 32px;
    height: 38px;
    background: url(images/Tab5.jpg) no-repeat;
}
#left li>a>span.icon6 {
    display: block;
    float: right;
    margin-right: 7px;
    width: 32px;
    height: 38px;
    background: url(images/Tab6.jpg) no-repeat;
}
#left li.selected a {
    color: #FBFEFF;
    float: right;
    clear: both;
    width: 65px;
    background: #005382;
    border: 1px #E3E3E3 solid;
}
#left li.notselected {
    background: #FEFEFE;
    clear: both;
    margin-left: 50px;
    border: 1px #E3E3E3 solid;
}
#left li.notselected a {
    color: #A2A2A2;
}
#left .triangle {
    position: absolute;
    top: 53px;
    left: 75px;
}
#right #nav li.external a.sub:focus {
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
}

#right #nav li.external a.sub:focus .plus {
    display:block;
    float: right;
    width: 29px;
    height: 28px;
    background: url(images/minus.png) no-repeat 50% 50%;
}
#nav {
    float: left;
    list-style: none;
    padding: 0;
    width: 415px;
}
#nav ul {
    list-style: none;
    padding: 0;
}
#nav li.external {
    border: 1px #E3E3E3 solid;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    line-height: 28px;
}
#nav ul {
    position: relative;
    z-index: -1;
}
#nav li {
    position: relative;
    z-index: 100;
    cursor:pointer;
}
#nav .plus {
    background: url(images/plus.png) no-repeat 50% 50%;
    display:block;
    float: right;
    width: 25px;
    height: 28px;
}

#nav ul li {
    margin-top: -23px;
}
#nav li a {
    outline: none;
    display: block;
    padding-left:15px;
    text-decoration:none;
    color: #6F6F6F;
}
#nav li a.sub {
    text-align: center;
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 16%, #ededed 16%, #f3f3f3 50%, #ffffff 54%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#ededed), color-stop(16%,#ededed), color-stop(50%,#f3f3f3), color-stop(54%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#nav ul li.internal {
    display: none;
    font-family: Arial;
    line-height: 1.3;
}
#nav a:focus ~ ul li.internal {
    padding-top: 30px;
    padding-right: 10px;
    display: block;
    padding-bottom: 200px;
}