body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(images/background.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    position: relative;
    font-family: "Lucida Sans Unicode";
}
#wrapper {
    width: 1000px;
    height: 658px;
    margin: 0 auto;
}
#left {
    position: relative;
    width: 250px;
    float:left;
}
#left ul li {
    list-style-type: none;
    width: 210px;
    height: 38px;
    line-height: 38px;
}
#left li a {
    text-decoration: none;
    display: block;
}
#left li>a>span.icon {
    display: block;
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 38px;
    background: url(images/Tab1.png) 0 5px no-repeat;
}
#left li>a>span.icon2 {
    display: block;
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 38px;
    background: url(images/Tab2.png) no-repeat;
}
#left li>a>span.icon3 {
    display: block;
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 38px;
    background: url(images/Tab3.jpg) no-repeat;
}
#left li>a>span.icon4 {
    display: block;
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 38px;
    background: url(images/Tab4.jpg) no-repeat;
}
#left li>a>span.icon5 {
    display: block;
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 38px;
    background: url(images/Tab5.jpg) no-repeat;
}
#left li>a>span.icon6 {
    display: block;
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 38px;
    background: url(images/Tab6.jpg) no-repeat;
}
#left li.selected a {
    color: #FBFEFF;
    float: right;
    clear: both;
    width: 223px;
    background: #005382;
    font-size: 15px;
    border: 1px #E3E3E3 solid;
}
#left li.notselected {
    background: #FEFEFE;
    clear: both;
    font-size: 14px;
    border: 1px #E3E3E3 solid;
}
#left li.notselected a {
    margin-left: 20px;
    color: #A2A2A2;
}
#left li.selected a span.alignment {
    font-size: 1.2em;
    margin-left: 33px;
}
#left .triangle {
    position: absolute;
    top:53px;
    left:26px;
}


.tabs {
    float: left;
    position: relative;
    width: 715px;
    height: 370px;
    margin: 25px 0;


}
.tab {
    float: left;


}

.tab label {
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    color: #A2A2A2;
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 16%, #ededed 16%, #f3f3f3 50%, #ffffff 54%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#ededed), color-stop(16%,#ededed), color-stop(50%,#f3f3f3), color-stop(54%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 16%,#ededed 16%,#f3f3f3 50%,#ffffff 54%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}
.content {
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    color: #A2A2A2;
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    -o-box-shadow:      -3px 2px 20px -1px rgba(10, 50, 50, 0.58);
    -moz-box-shadow:    -3px 2px 20px -1px rgba(10, 50, 50, 0.58);
    -webkit-box-shadow: -3px 2px 20px -1px rgba(10, 50, 50, 0.58);
    -moz-box-shadow:    -3px 2px 20px -1px rgba(10, 50, 50, 0.58);
    box-shadow:         -3px 2px 20px -1px rgba(10, 50, 50, 0.58);
}
[type=radio]:checked ~ label {
    -webkit-box-shadow: -3px -3px 7px -1px rgba(10, 50, 50, 0.58);
    -ms-box-shadow: -3px -3px 7px -1px rgba(10, 50, 50, 0.58);
    -o-box-shadow: -3px -3px 7px -1px rgba(10, 50, 50, 0.58);
    -moz-box-shadow: -3px -3px 7px -1px rgba(10, 50, 50, 0.58);
    box-shadow: -3px -3px 7px -1px rgba(10, 50, 50, 0.58);
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 17px;
    padding-top: 16px;
    padding-right: 23px;
    border-bottom: 1px solid white;
    z-index: 2;

}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}